/**************************MAIN ELEMENTS************************/
* {
  font-size: 13px;
  font-family: arial;
}

html {
  margin: 0px;
}

body {
  -webkit-print-color-adjust:exact;
  display:flex;
  flex-direction:column;
  margin:0px;
  background-color: #f3f3f3;
  background-image:
    linear-gradient(rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#chartWrap {
  overflow-x: scroll;
  font-family: arial;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  display: table;
  transform-origin: top center;
  /*margin-top:127px;*/
}

#whitSpcRm {
  margin: auto;
  padding-left:25px;
  padding-right:25px;
}

/******START INPUT STYLES******************************************/
input[type=button]:disabled {
  background-color: lightgrey;
}

input[type=button]:hover {
  background-color: #3e6c6d;
}

input[type=button], input[type=file] {
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 0px 5px grey;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 7.8px 0px;
  margin-right: 5px;
  width: 78px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=color]:hover {
  background-color: cadetblue;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.7px #c4c4c4, 0px 0px 0px #d1d1d1;
  border: 0px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 3px;
  background: #aaaaaa;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: cadetblue;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type=range]::-moz-range-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1.7px #c4c4c4, 0px 0px 0px #d1d1d1;
  border: 0px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 3px;
  background: #aaaaaa;
  cursor: pointer;
}

input[type=range]::-ms-track {
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1.7px #c4c4c4, 0px 0px 0px #d1d1d1;
  border: 0px solid #000000;
  height: 24px;
  width: 10px;
  border-radius: 3px;
  background: #aaaaaa;
  cursor: pointer;
  height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

#sideMenu input[type=button], input[type=file] {
  width: 54px;
  font-size: 10px;
  height: 20px;
}

/******START SCROLLBAR STYLES******************************************/
select::-webkit-scrollbar-track, #notes::-webkit-scrollbar-track, #sideMenu::-webkit-scrollbar-track, #rightMenu::-webkit-scrollbar-track, .desc::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

select::-webkit-scrollbar, #notes::-webkit-scrollbar, #sideMenu::-webkit-scrollbar, #rightMenu::-webkit-scrollbar, .desc::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

select::-webkit-scrollbar-thumb, #notes::-webkit-scrollbar-thumb, #sideMenu::-webkit-scrollbar-thumb, #rightMenu::-webkit-scrollbar-thumb, .desc::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/******NODE CLASSES/STYLES******************************************/
.sortable-placeholder {
  background-color: cadetblue;
  opacity: .3;
  border-radius: 10px;
  display: inline-block;
  width: 152px;
  height: 100px;
  margin-right: 5px;
  margin-left: 5px;
}

.node {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100px;
  border: 1px solid #dadada;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: rgb(212, 212, 212);
  background: linear-gradient(330deg, #d4d4d4 0%, #FFFFFF 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.desc {
  flex-grow: 1;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
  background-color: inherit;
  resize: none;
  color: #000;
  height: 15px;
}

.addSub {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  width: 48%;
  height: 22px;
  font-size: 10px;
  border: 1px solid gray;
}

.leftHr {
  width: 0px;
  display: inline-block;
  background-color: black;
  height: 5px;
  position: relative;
  margin-bottom: 11px
}

.label {
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 22px;
  border: none;
  background-color: inherit;
  font-size: 20px;
}

.moveIcon {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 3px;
  left: 3px;
  cursor: grab;
  display:block;
}

.smallLabel {
  margin-top: 4px;
  width: 80%;
  display: block;
  margin-lefT: auto;
  margin-right: auto;
  text-align: center;
  height: 17px;
  border: none;
  background-color: inherit;
}

.smallLabel::-webkit-input-placeholder {
}

.vLine {
  position: absolute;
  background-color: black;
  width: 5px;
  top: -17px;
  margin: auto;
  height: 17px;
  right: 0px;
  left: 0px;
}

.vLineB {
  position: absolute;
  height: 20px;
  bottom: -18px;
  width: 5px;
  margin: auto;
  left: 0px;
  right: 0px;
  background-color: black;
}

.rightHr {
  width: 0px;
  display: inline-block;
  background-color: black;
  height: 5px;
  position: relative;
  margin-bottom: 11px
}

.subTree {
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  /*text-align:center;*/
  /*border: 1px solid black;*/
}

.del {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  width: 48%;
  height: 22px;
  border: 1px solid gray;
  font-size: 10px;
}

/****START LEFT MENU**************************************************/
#closeSideMenuBtn {
  right: 8px;
  position: absolute;
  color: white;
  font-size: 24px;
  text-shadow: 0px 1px cadetblue;
  cursor: default;
  opacity: .6;
}

#closeSideMenuBtn:hover {
  opacity: 1;
}

#sideMenuPin {
  top: 3px;
  right: 28px;
  position: absolute;
  cursor: default;
  opacity: .6;
  height: 20px;
  width: 20px;
}

#sideMenuPin:hover {
  opacity: 1;
}

#sideMenuLaunch {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 29;
  width: 30px;
  height: 30px;
  opacity: .3;
}

#sideMenuLaunch:hover {
  opacity: 1;
}

#sysList {
  width: 95%;
}

#revisionList {
  width: 95%;
}

#revisionTitle {
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #9e9e9e;
  box-shadow: 0px 4px 0px grey;
  text-shadow: 1px 3px grey;
}

#menuTitle {
  text-align: center;
  padding: 6px;
  font-size: 23px;
  color: white;
  background-color: #9e9e9e;
  box-shadow: 0px 4px 0px grey;
  text-shadow: 1px 3px grey;
  margin-top: 30px;
}

#sideMenu {
  box-shadow: 8px 0px 5px rgba(0, 0, 0, 0.2);
  width: 0px;
  display: none;
  height: 100%;
  background-color: #cedede;
  z-index: 30;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/***************START GEARS MENU*********************************/
.bittingInput {
  width: 20px;
}

.gears {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: .5;
}

.gears:hover {
  opacity: 1;
}

#cBox {
  text-align: center;
  width: 232px;
  height: 163px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/***************START REDO/UNDO BUTTONS********************/
#undoBtn {
  position: fixed;
  left: 40px;
  top: 0px;
  z-index: 29;
  width: 30px;
  height: 30px;
  opacity: .3;
}

#saveBtnF {
  width: 30px;
  height: 30px;
  opacity: .4;
  position: fixed;
  left: 120px;
}
#checkMarkF {
  width: 40px;
  height: 30px;
  opacity: .4;
  position: fixed;
  left: 115px;

}

#saveBtnF:hover {
  opacity: 1;
}

#undoBtn:hover {
  opacity: 1;
}

#redoBtn {
  transform: rotate(180deg);
  position: fixed;
  left: 80px;
  top: 0px;
  z-index: 29;
  width: 30px;
  height: 30px;
  opacity: .3;
}

#redoBtn:hover {
  opacity: 1;
}

/****************START RIGHT MENU************************************/
#closeRightMenuBtn {
  left: 8px;
  position: absolute;
  color: white;
  font-size: 24px;
  text-shadow: 0px 1px cadetblue;
  cursor: default;
  opacity: .6;
}

#closeRightMenuBtn:hover {
  opacity: 1;
}

#settingsTitle {
  margin-top: 29px;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #9e9e9e;
  box-shadow: 0px 4px 0px grey;
  text-shadow: 1px 3px grey;
  width: 300px;
}

#rightMenu {
  box-shadow: -8px 0px 5px rgba(0, 0, 0, 0.2);
  width: 0px;
  display: none;
  height: 100%;
  background-color: #cedede;
  z-index: 30;
  position: fixed;
  top: 0px;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#rightMenuBtn {
  z-index: 28;
  cursor: pointer;
  position: fixed;
  right: 0px;
  top: 45%;
  width: 30px;
  height: 80px;
  box-shadow: 2px 5px 21px rgba(0, 0, 0, 0.7);
  background-color: cadetblue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#rightMenuBtn:hover {
  background-color: #3e6c6d;
  ;
}

/************************START TOP MENU*************************/
#topSpacer {
  position: relative;
  width: 568px;
  height: 127px;
  margin: auto;
}

#info {
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 28;
  width: 568px;
  padding: 10px;
  height: 75px;
  border-bottom: 1px solid grey;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
  background-color: #e6e6e6;
  margin-right: auto;
  margin-left: auto;
  border-top: 6px solid cadetblue;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

[contenteditable=True]:empty:before {
  content: attr(placeholder);
  color: grey;
  display: block;
}

/**************************START MISC STYLES***********************/
.ui-widget-overlay {
  background: unset;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

/**********************START PRINTING STYLING********************/
@media print {
  .gears {
    display: none;
  }

  #sideMenuLaunch {
    display: none;
  }

  #sideMenu {
    display: none !important;
  }

  .addSub {
    display: none;
  }

  #info {
    display: none;
  }

  .nBtnBox {
    display: none !important;
  }

  #undoBtn {
    display: none !important;
  }

  #infoBox {
    display: block !important;
    background-color: inherit !important;
    position: absolute;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
  }

  .del {
    display: none;
  }

  #cBox {
    display: block !important;
  }

  .desc {
    overflow: hidden;
  }

  #rightMenuBtn {
    display: none !important;
  }

  #rightMenu {
    display: none !important;
  }

  .vLineB {
    bottom: -10px;
  }

  #redoBtn {
    display: none !important;
  }

  body {
    background-color: #FFF;
    background-image: none;
    background-size: 0px;
    background-position: 0px;
  }

  #chartWrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }

  ::-moz-placeholder {
    color: transparent;
  }

  input::placeholder {
    color: transparent;
  }

  .moveIcon {
    display: none !important;
  }
}
